@font-face {
	font-family: SuperMarioMakerExtended;
	src: url(../font_smm.woff);
}

body {
    /* background */
    height: 100vh;
    background-color: #09BBE8;
    background: linear-gradient(to bottom, #76c1ff 5%, #069fc5 100%);
	background-attachment: fixed;
    background-repeat: no-repeat;

	font-family: SuperMarioMakerExtended;
    margin: 0;
}

h1, h2, h3, h4 {
    color: #001d0a;
    text-shadow: 4px 4px 5px rgba(0,0,0,0.3);
	-moz-text-shadow: 4px 4px 5px rgba(0,0,0,0.3);
	-webkit-text-shadow: 4px 4px 5px rgba(0,0,0,0.3);
	-khtml-text-shadow: 4px 4px 5px rgba(0,0,0,0.3);
}

p {
    color: #000000;
}

button {
	font-family: SuperMarioMakerExtended;
	display: block;
	background: linear-gradient(to bottom, #09BBE8 5%, #037f9e 100%);
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid black;
}

button:hover {
	transform: translate(-1px, -1px);
	background: linear-gradient(to bottom, #cdf5ff 5%, #8edbee 100%);
	color: black;
}

button:active {
	transform: translate(1px, 1px);
	background: linear-gradient(to bottom, #097b97 5%, #06667e 100%);
	color: white;
}

.bigbtn {
	width: 90%;
	font-size: 24px;
}
