@font-face {
	font-family: SuperMarioMakerExtended;
	src: url(mainFont.woff);
}
body {
	background-attachment: fixed;
	font-family: SuperMarioMakerExtended;
	background-color: #09BBE8;
	background: linear-gradient(to bottom, #09BBE8 5%, #037f9e 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.boxshad {
	box-shadow: 4px 4px 5px black;
	-moz-box-shadow: 4px 4px 5px black;
	-webkit-box-shadow: 4px 4px 5px black;
	-khtml-box-shadow: 4px 4px 5px black;
}

.boxmain {
	border-radius: 20px;
	-webkit-border-radius: 20px;
	border: 2px solid black;
	background-color: #9CDCED;
	margin: auto;
	padding: 10px;
	width: 75%;
	font-weight: bold;
	color: #034454;
}

.imgproject:hover {
	box-shadow: 4px 4px 5px black;
	-moz-box-shadow: 4px 4px 5px black;
	-webkit-box-shadow: 4px 4px 5px black;
	-khtml-box-shadow: 4px 4px 5px black;
	filter: brightness(1.15);
}

.imgproject:active {
	box-shadow: 0px 0px 0px black;
	-moz-box-shadow: 0px 0px 0px black;
	-webkit-box-shadow: 0px 0px 0px black;
	-khtml-box-shadow: 0px 0px 0px black;
	filter: brightness(0.75);
	transform: translate(3px, 3px);
}

button {
	font-family: SuperMarioMakerExtended;
	display: block;
	background: linear-gradient(to bottom, #09BBE8 5%, #037f9e 100%);
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid black;
}

.bigbtn {
	width: 90%;
	font-size: 24px;
}

button:hover {
	box-shadow: 4px 4px 5px black;
	-moz-box-shadow: 4px 4px 5px black;
	-webkit-box-shadow: 4px 4px 5px black;
	-khtml-box-shadow: 4px 4px 5px black;
	filter: brightness(1.15);
}

button:active {
	box-shadow: 0px 0px 0px black;
	-moz-box-shadow: 0px 0px 0px black;
	-webkit-box-shadow: 0px 0px 0px black;
	-khtml-box-shadow: 0px 0px 0px black;
	filter: brightness(0.75);
	transform: translate(3px, 3px);
}

a {
	color: blue;
}

a:hover {
	color: red;
}

a:active {
	color: purple;
}


